<<<<<<< HEAD
.mainContent {
    min-height: 50vh;
    width: 100%;
    padding: 50px 0;
}

=======
.mainContent {
    min-height: 50vh;
    width: 100%;
    padding: 50px 0;
}

>>>>>>> a3c535873b43a0139387976543edb6ae22d37612
